.alert {
  background-color: $accent-color;
  border-radius: 2.1em;
  color: $font-color-accent;
  margin-bottom: 2em;
  padding: 0.5em 1.8em;

  a {
    color: inherit;
    font-family: $font-bold;

    &:hover {
      color: $white;
    }
  }
}
