<div class="featured-companies" data-aos="fade-right" data-aos-delay="400">
  <h3>Used by these companies:</h3>
  <ul>
    <li><img src="url:./assets/atlassian-icon.svg" alt="Atlassian" title="Atlassian" /></li>
    <li><img src="url:./assets/behance-icon.svg" alt="Behance" title="Behance" /></li>
    <li><img src="url:./assets/bing-icon.svg" alt="Bing" title="Bing" /></li>
    <li><img src="url:./assets/bitbucket-icon.svg" alt="BitBucket" title="BitBucket" /></li>
    <li><img src="url:./assets/dropbox-icon.svg" alt="Dropbox" title="Dropbox" /></li>
    <li><img src="url:./assets/twitch-icon.svg" alt="Twitch" title="Twitch" /></li>
    <li><img src="url:./assets/twitter-icon.svg" alt="Twitter" title="Twitter" /></li>
  </ul>
</div>
