<div class="featured-companies">
  <h3>Used by these companies:</h3>
  <ul>
    <li><img src="url:./assets/atlassian-icon.svg" alt="Atlassian" /></li>
    <li><img src="url:./assets/behance-icon.svg" alt="Behance" /></li>
    <li><img src="url:./assets/bing-icon.svg" alt="Bing" /></li>
    <li><img src="url:./assets/bitbucket-icon.svg" alt="BitBucket" /></li>
    <li><img src="url:./assets/dropbox-icon.svg" alt="Dropbox" /></li>
    <li><img src="url:./assets/twitch-icon.svg" alt="Twitch" /></li>
    <li><img src="url:./assets/twitter-icon.svg" alt="Twitter" /></li>
  </ul>
</div>
