<main>
  <div class="hero">
    <include src="partials/alert.html"></include>
    <h2 class="hero-title">Build a highly engaged community with no effort.</h2>
    <p class="hero-intro">Commune offers the tools you need to build a highly engaged community with little to no effort. Simply setup your Commune workspace, and manage everything from memmbers to content from one central dashboard.</p>
    <include src="partials/form.html"></include>
    <include src="partials/hero-image.html"></include>
  </div>
  <include src="partials/featured-companies.html"></include>
</main>
