<!-- http://www.ashleysheridan.co.uk/blog/Making+an+Accessible+Hamburger+Menu -->
<div class="nav">
  <button class="nav-hamburger">
    <img src="url:./assets/hamburger-menu.svg" />
  </button>
  <nav class="nav-menu-overlay">
    <button class="nav-close">&times;</button>
    <ul>
      <li><a href="#">Features</a></li>
      <li><a href="#">Affiliates</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Communities</a></li>
      <li><a href="#">Join Waitlist</a></li>
    </ul>
  </nav>
</div>
