<!-- http://www.ashleysheridan.co.uk/blog/Making+an+Accessible+Hamburger+Menu -->
<div class="nav">
  <button id="menu-open" class="nav-hamburger" aria-label="Open menu">
    <img src="url:./assets/hamburger-menu.svg" aria-hidden="true" />
  </button>

  <div id="mobile-menu" class="nav-menu-overlay">
    <nav class="nav-menu">
      <button id="menu-close" class="nav-close">&times;</button>
      <ul>
        <li><a id="first-menu-item" href="#">Features</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Communities</a></li>
        <li><a href="#">Join Waitlist</a></li>
      </ul>
    </nav>
  </div>
</div>
