<div class="nav">
  <!-- Mobile nav -->
  <div id="mobile-menu" class="nav-menu-overlay">
    <nav class="nav-menu">
      <ul class="nav-items">
        <li><a id="first-menu-item" href="#">Features</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Communities</a></li>
        <li><a href="#">Join Waitlist</a></li>
      </ul>
    </nav>
  </div>
  <button id="menu-toggle" class="nav-hamburger" aria-label="Menu">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </button>

  <!-- Desktop nav -->
  <nav class="nav-menu-desktop">
    <ul class="nav-items">
      <li><a id="first-menu-item" href="#">Features</a></li>
      <li><a href="#">Affiliates</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Communities</a></li>
      <li><a href="#">Join Waitlist</a></li>
    </ul>
  </nav>
</div>
